.jumbotron{background-color: #337ab7!important;}
.btn btn-primary{
	color: #337ab7 !important;
}

#main-title{
	color: white;
}

#authlabel{
	font-weight: bold !important;
}

#CMchangeShip{
	margin-right: 7px !important;

}
