.jumbotron{
	background-color: #ffe486!important;
}

#main-title{
	color: #337ab7 !important;
	text-align: center !important;
}

a.btn.btn-primary{
	color: #FFF !important;
	height: 70px !important;
}

#authlabel{
	font-weight: bold !important;
}

#CMchangeShip{
	margin-right: 7px !important;

}

#GchangeShip{
	margin-right: 7px !important;
}

body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

